@font-face {
    font-family: 'Myriad Pro Light';
    src: url(MyriadPro-Light.otf);
}

.clock{
  color:#3C4951;
  text-align:center;
  font-family: 'MyriadPro', sans-serif;
  margin-top:40px;
  box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
  width: 25%;
  background: linear-gradient(to right, #E2E2E2, white, #E2E2E2);
}

.clock2{
  margin-top:40px;
  box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
  width: 25%;
  background: linear-gradient(to right, rgba(61,80,91,.95), rgba(50,63,71,.95), rgba(61,80,91,.95));
  text-align:center;
  font-family:'Myriad Pro Light';
  box-shadow: 0 2px 8px 2px rgba(20,23,28,.3);
  color:white;
  padding:5px;
  font-size:38px;
}

.bottomPanel{
  display:flex;
  justify-content: flex-end;
}

@font-face {
    font-family: 'MyriadPro';
    src: url(MyriadPro-Regular.otf);
    font-weight: bold;
}
