.clock{
  color:#3C4951;
  text-align:center;
  font-family: 'MyriadPro', sans-serif;
  font-size: 2.3em;
}
@font-face {
    font-family: 'MyriadPro';
    src: url(MyriadPro-Regular.otf);
    font-weight: bold;
}
